# kazoo <-- putting deps on zope.interface >= 3.8.0
pycassa
python-novaclient
requests
psutil>=0.6.0
bottle
kombu
kazoo
pyyaml

thrift>=0.10.0 # not directly required, pinned by Snyk to avoid a vulnerability